.dialog-content {
    position: relative;
    transition: translate 0.3s;
    transform: translateX(calc(var(--nav-offset) / 2));
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    transition: background 0.9s;
    height: 80vh;
    margin: 10vh 5vw;
    width: 90vw;

    > :not(:first-child) {
        overflow: auto;
    }
}

.close-button {
    position: absolute;
    right: 10px;
    border: none;
    font-size: 2rem;
    line-height: 2rem;
    top: 10px;
    background: rgba(0, 0, 0, 0);
    padding: 0;
    z-index: 2;
    cursor: pointer;
    width: 24px;
    display: flex;
    justify-content: center;

    > svg {
        width: 1.5rem;
        height: 1.5rem;
        color: var(--neutral-300);
        transition: all 0.3s;
    }

    &:focus,
    &:hover {
        > svg {
            color: var(--accent-300);
        }
        outline: none;

        &:before {
            content: "";
            position: absolute;
            left: -20%;
            top: -20%;
            width: 140%;
            height: 140%;
            border-radius: 50%;
            background: var(--accent-100);
            z-index: -1;
        }
    }
}

.dialog-overlay {
    display: flex;
}
