.countdown {
    display: flex;

    > :not(:last-child) {
        margin-right: 1rem;
    }
}

.time-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-unit-label {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: var(--neutral-800);
}

.digits {
    display: flex;

    > :first-child {
        margin-right: 1px;
    }
}

.digit {
    height: 6rem;
    width: 6rem;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f141f;
    color: white;

    @media screen and (max-width: 680px) {
        height: 4rem;
        width: 4rem;
        font-size: 2.5rem;
    }

    @media screen and (max-width: 480px) {
        height: 3rem;
        width: 3rem;
        font-size: 1.75rem;
    }

    &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}
