.challenge-page {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    height: 100%;

    @media screen and (max-width: 740px) {
        flex-direction: column;
        height: auto;

        .image-container {
            height: 85vh;
        }
    }
}

.image-container {
    width: 50vw;
    height: 100%;
    min-width: 310px;
    width: fit-content;

    > * {
        height: 100%;
    }

    @media screen and (max-width: 740px) {
        width: 100%;

        > * {
            display: block !important;
        }
    }
}

.challenge-content {
    max-width: 580px;
    margin: 0 auto 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem 0 0;

    @media screen and (max-width: 740px) {
        max-width: none;
        margin-top: -4rem;
        z-index: 2;

        .challenge-title {
            color: white;
            margin-bottom: 2rem;
        }
    }
}

.challenge-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.challenge-description {
    font-size: 1.25rem;
}

.passcode-form {
    position: relative;
    display: flex;
    margin-top: 4rem;

    > * {
        transition: opacity 0.2s;
    }

    &[data-successful="true"] .passcode-container,
    &[data-successful="true"] .submit-passcode-btn-container {
        opacity: 0.3;
    }

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        align-items: flex-end;

        .submit-passcode-btn-container {
            margin-top: 1rem;
        }
    }
}

.passcode-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}

.submit-passcode-btn-container {
    flex: 0 0 auto;
    padding: 0 0.75rem;

    @media screen and (max-width: 740px) {
        margin-bottom: 2rem;
    }
}

.stamp-container {
}
